QMainWindow {
    background-color: #FFFFFF;
}

#header{
    background-color: #F5F5F5;
}

#blockFormAuth {
    min-width: 350px;
    min-height: 450px;
    border-radius: 10px;
    margin: 20px;
    background-color: #F2F2F2;
}

#defaultField {
    height: 30px;
    margin: 0 50px 10px 50px;
}

#headerName {
    color: black;
    font-size: 25px;
    padding-bottom: 20px;
}

#authBtn {
    height: 25px;
}

#searchInput {
    width: 300px;
    min-width: 200px;
    height: 26px;
    border: 2px solid #6771E0;
    border-radius: 15px;
    padding-left: 10px;
    color: black;
    background-color: #FFFFFF;
}

#customBtn {
    background-color: #6771E0;
    color: white;
    border-radius: 15px;
}

#customIconBtn {
    background-color: #6771E0;
    color: white;
    border-radius: 8px;
}
